<!DOCTYPE HTML>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remove</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style type="text/css">
        body {
            background-color: darkgoldenrod;
        }

        p {
            color: midnightblue;
        }

        a {
            margin-left: 100px;
        }
    </style>
</head>
<body>
<p th:text="'Buddy has been successfully removed'"/>
</body>
</html>