<!DOCTYPE HTML>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Buddy</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style type="text/css">
        body {
            background-color: darkgoldenrod;
        }

        p {
            color: midnightblue;
        }

        a {
            margin-left: 100px;
        }
    </style>
</head>
<body>
<p th:text="'Name: ' + ${name}"/>
<p th:text="'Address: ' + ${address}"/>
<p th:text="'Birthday: ' + ${birthday}"/>
<p th:text="'Company: ' + ${company}"/>
<p th:text="'Phone Number: ' + ${phonenumber}"/>
<form action="/buddy/remove" method="get">
    <input name="id" th:value="${id}" type="hidden"/>
    <button type="submit" value="Submit">Delete Buddy</button>
</form>
<a href="javascript:location.replace(document.referrer)">Main Menu</a>
</body>
</html>